*{margin: 0px;padding: 0px;}

body
{
    overflow-x: hidden;
}

.top
{
    background: grey;
    width: 100%;
    height: 30vh;
    background-color: #d7d7d7;
    background: url("back.jpg");
    background-position: center;
    background-size: cover;
}

.subSubHeader
{
    font-family: quicksand;
    font-size: 50px;
    text-align: center;
    /* color: #454F50; */
    color: white;
    line-height: 15vh;
    letter-spacing: 10px;
}

.subSubHeader-small
{
    word-spacing: 8px;
    letter-spacing: 5px;
    font-family: quicksand;
    text-align: center;
    color: #F0F3F4;
    font-size: 23px;
    line-height: 0vh;
}

.searchBar
{
    padding-left: 10px;
    margin-top: 5px;
    outline: none;
    margin-left: 38vw;
    margin-top: 6vh;
    width: 20%;
    height: 5vh;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #393C3C;
}


.list-header
{
    color: #454F50;
    font-family: 'Open Sans';
    line-height: 10vh;
    margin-top: 10px;
    width: 100%;
    height: 10vh;
    font-weight: 10;

    /* background-color: #d7d7d7; */
}
.list-header h1
{
    margin-left: 20px;
}

#list
{
    width: 92.5%;
    height: auto;
    padding: 50px;
    /* background-color: #d7F7F7; */
    font-size: 17px;
    font-family: quicksand,cursive;
    font-weight: 600;
    margin-left: 10%;
}

#list ul
{
    list-style: none;
}

#list ul li
{
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    transition: 1s;
    /* background-color: red; */
    cursor: pointer;
}
#list ul li #bookIcon .bookIcon
{
    color: #515A5A;
    font-size: 30px;
}

#list ul li:hover #bookIcon
{
    color: #283747;
}

#list ul li:hover .bookIcon
{
    color: #283747;
}

#list ul li a
{
    /* margin-left: 70%; */
    color: white;
    text-decoration: none;
    background-color: #D92C29;
    padding: 7px;
    border-radius: 7px;
    font-size: 17px;
    font-family: quicksand;
    display: inlin;
    position: absolute;
    left: 70%;
    transform: translateY(-15%);
    transition: .51s;
}

#list ul li a i
{
    transition: .51s;
}

#list ul li a:hover
{
    background-color: #34495E;
    color: white;
}

#list ul li a:hover i
{
    transform: rotate(180deg);
}

.addBox
{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    line-height: 10vh;
    padding: 20px;
}

.addBox header input
{
    font-family: quicksand;
    color: #454F50;
    font-size: 15px;
    outline: none;
    border: 1px solid;
    padding: 10px;
    margin-left: 35%;
    font-weight: bold;
    width: 25vw;
    height: 3vh;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
}

.addBox header a
{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 17px;
    font-family: quicksand;
    text-decoration: none;
    /* background-color: #35C4E7 */
    background-color: #17A589;
    padding: 1.4vh;
    border: 1px solid rgba(0,0,0,0.3);
    border-top-right-radius:  7px;
    border-bottom-right-radius:  7px;
    border-left: none;
    position: relative;
    left: -5px;
    cursor: pointer;
}

.addBtn
{
    transition: .51s;
}

.addBtn:hover
{
    background-color: #2D77E3;
}

.addBtn i
{
    transition: .51s;
}

.addBtn:hover i
{
    transform: rotate(180deg) scale(1.2);
}
